@font-face {
    font-family: 'vazir';
    src: url('../fonts/fonts/vazir.eot') format('eot'),
         url('../fonts/fonts/vazir.ttf') format('truetype'),
         url('../fonts/fonts/vazir.woff') format('woff'),
         url('../fonts/fonts/vazir.woff2') format('woff2');
}
body{
    font-family: 'vazir';
    margin: 0;
    padding: 0;
    direction: rtl;
}
.container{
    width: 1300px;
    text-align: center;
    margin: auto;
}
.overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0,.5);
}
.hamburger-icon{
    width: 20%;
    display: none;
    float: right;
    margin-top: 10px;
    cursor: pointer;
}
.hamburger-icon img{
    width: 50px;
    
}
.back-container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0,.4);
}
#responsive-nav{
    width: 200px;
    position: absolute;
    height: 100vh;
    top: 0;
    right: -200px;
    z-index: 1;
}
#responsive ul{
    width: 100%;
}
#responsive-nav ul li{
    width: 100%;
    text-align: center;
    
}
header{
    background-image: url(../images/bakcground-header.jpg);
    height: 100vh;
    position: relative;
}
ul,li{
    margin: 0;
    padding: 0;
}
input{
    font-family: 'vazir';
}
header nav{
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0,.7);
}
header nav ul{
    
    width: 50%;
    float: right;
}
header nav ul li{
    margin-left: 10px;
    text-decoration: none;
    display: inline-block;

}
header ul li a{
    text-decoration: none;
    color: seashell;
    font-size: 20px;
    line-height: 4;
}
header .logo{
    width: 50%;
    float: right;
}
header .logo img{
    width: 70px;
    height: 70px;
}
header .header-desc{
    position: absolute;
    top: 40%;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: seashell;
}
header .header-desc h1{
    font-size: 40px;
}
header .header-desc p{
    font-size: 20px;
    width: 500px;
    margin: auto;
}
#our-story{
    width: 100%;
    height: 450px;
    padding: 100px 0;

}
#our-story .our-story-desc{
    width: 50%;
    height: 100%;
    float: right;
    padding: 80px 0;
}
#our-story .our-story-desc h1{
    font-size: 40px;
}
#our-story .our-story-desc p{
    font-size: 20px;
    width: 550px;
    margin: auto;
}
#our-story .our-story-img{
    width: 50%;
    height: 100%;
    float: right;
}
#our-story .our-story-img img{
    width: 100%;
    height: 100%;
    
}
#sweet{
    width: 100%;
    height: 300px;
    padding: 100px 0;
    background-image: url(../images/backtwo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
#sweet .sweet-desc{
    text-align: center;
    color: seashell;
    margin-top: 100px;
}
#sweet .sweet-desc h1{
    font-size: 45px;
}
#sweet .sweet-desc p{
    font-size: 25px;
    width: 600px;
    margin: auto;
}
#menu{
    width: 100%;
    height: 500px;
    padding: 150px 0px;
}
#menu .menu-desc{
    width: 50%;
    height: 100%;
    float: right;
    text-align: center;
    
    padding: 100px 0;
}
#menu .menu-desc h1{
    font-size: 40px;
}
#menu .menu-desc p{
    font-size: 20px;
    line-height: 30px;
    width: 500px;
    margin: auto;
    margin-bottom: 30px;
}
#menu .menu-desc a{
    text-decoration: none;
    color: black;
    border-bottom: 2px solid rgb(204, 98, 98);
}
#menu .menu-img{
    width: 50%;
    height: 100%;
    float: right;
   
}
#menu .menu-img ul{
    list-style: none;
    width: 100%;
}
#menu .menu-img ul li{
    float: right;
    width: 50%;
    text-align: left;
}
#menu .menu-img img{
    width: 95%;
    height: 250px;
}
.hot{
    height: 400px;
    background-image: url(../images/hot.jpeg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.hot-title{
    text-align: center;

}
.hot-title h1{
    font-size: 45px;
    color: blanchedalmond;
    padding-top: 80px;
}
.hot-title p{
    font-size: 30px;
    color: blanchedalmond;
}
#delight{
    width: 100%;
    overflow: auto;
    margin: 100px 0;
}
#delight .delight{
    width: 100%;
}
#delight .delight .delight-desc{
    width: 60%;
    float: right;
    text-align: center;
}
#delight .delight .delight-desc h1{
    font-size: 45px;
    margin-top: 80px;
}
#delight .delight .delight-desc p{
    font-size: 20px;
    
    margin: auto;
}
#delight .delight .delight-img{
    width: 40%;
    float: right;
}
#delight .delight .delight-img img{
    width: 220px;
    height: 300px;
    float: left;
}
#delight .delight .delight-img img.img-left{
    margin-right: 20px;
    
}
#footer{
    background-color: #463f3f;
    margin-top: 50px;
    overflow: auto;
}
#footer .footer{
    width: 100%;
}
#footer .footer .about-us{
    color: blanchedalmond;
    text-align: center;
    height: 200px;
    margin: 100px 0;
}
#footer .footer .about-us h3{
    font-size: 50px;
    margin-top: 60px;
}
#footer .footer .about-us p{
    font-size: 15px;
    width: 300px;
    margin: auto;
}
#footer .footer .contact-us{
    width: 60%;
    margin: auto;
    color: blanchedalmond;
}
#footer .footer .contact-us .social{
    width: 50%;
    float: left;
    text-align: center;
}
#footer .footer .contact-us .social ul{
    width: 100%;
    list-style: none;
    margin-top: 35px;
    
}
#footer .footer .contact-us .social ul li{
    display:inline-block ;
    margin: 0 10px;

}
#footer .footer .contact-us .social ul li a{
    text-decoration: none;
    color: blanchedalmond;
}
#footer .footer .contact-us .social ul li a svg{
    font-size: 30px;
}
#footer .footer .contact-us .news-letter{
    width: 50%;
    float: left;
    text-align: center;
}
#footer .footer .contact-us .news-letter input{
    margin: 10px 0;
    padding: 10px;
    width: 60%;
    
}
#footer .copy-right{
    width: 100%;
    text-align: center;
    margin-top: 25px;
    padding-top: 25px;
    color: blanchedalmond;
    background-color: black;
    overflow: auto;
}
